.about-me-container {
  display: flex;
  background-color: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2rem 2rem 2rem;
}

.bold-title {
  font-family: "wix-extrabold";
  font-size: 50px;
  color: #363636;
}

.jovita-pic {
        max-width: 30vw;
}

#linked-in {
  background-color: #2f4c82;
  width: 130px;
  height: 30px;
  color: white;
  font-family: "wix-extrabold";
  border: none;
}

#linked-in:hover {
  transform: scale(1.01);
  border: rgb(2, 2, 66) solid;
  background-color: #456195;
}

.box-content {
  display: flex;
  gap: 10px;
}

.transform:hover {
  transform: scale(1.1);
}

.software-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.img-software:hover {
  transform: scale(1.1);
}

.my-skills {
  align-content: center;
  padding: 2rem;
}

.title {
  font-family: "wix-extrabold";
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.growth-experience {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.growth-container {
  font-family: "wix-extrabold";
  color: white;
  background-color: #303030;
  padding: 1rem 3rem;
}

.growth-container:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgb(23, 23, 23);
  background-color: #3f3f3f;
}

p {
  font-family: "wix-regular";
}

@media screen and (max-width: 500px) {
  .software-logo {
    flex-wrap: wrap;
  }

  .title {
    font-size: 25px;
  }

  .growth-experience {
    margin: 1.5rem;
    gap: 1rem;
  }

  .growth-container {
    padding: 1rem;
  }

  .growth-title {
    font-size: 20px;
  }

  .growth-date {
    font-size: 16px;
  }

  .about-me-container {
    flex-direction: column-reverse;
  }

  .about-me{
        margin: 0;
  }

  .jovita-pic{
        max-width: 100%;
        margin: 2rem;
        border-radius: 10px;
  }

}
